{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Hello Dashboard</h1>
        <div class="container w-75">
            {{ render_chart(chart) }}
        </div>

    </div>
{% endblock %}
