{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Hello Homepage</h1>
        <span class="badge text-bg-success">BTC : ${{ btc }}</span>
        <span class="badge text-bg-success">ETH : ${{ eth }}</span>
        <span class="badge text-bg-success">XMR : ${{ xmr }}</span>
    </div>
{% endblock %}
